body {
	margin: 0;
	background-color: lightblue;
}

.logoSpace {
	
}

#logo {
	width: 30px;
	height: 30px;
	margin-right: 50px;
}

.toolBar {
	padding: 30px;
	background-color: rgb(221, 221, 221);
}

input[name="tool"] {
	border: 50px;
}

canvas {
	background-color: white;
}

#logo {
	float: left;
}

.toolPicker {
	float: left;
	margin-right: 50px;
}

.colorPicker {
	float: left;
	margin-right: 50px;
}

.undoOptions {
	float: left;
}